*{
    margin: 0;
}
@media (min-width:992px) and (max-width:1200px) {
    body{
        // MAKE HEADER
        header{
            width: 100%;
            >section:nth-of-type(1){
                width: 100%;
                height: 50px;
                display: flex;
                flex-flow: row wrap;
                background-color: #00a2e8;
                >section:nth-of-type(1){
                    display: flex;
                    width: 35%;
                    height: inherit;
                    justify-content: end;
                    align-items: center;
                    @include transitionshort;
                    >a{
                        &:hover{
                            text-shadow: 6px 6px 6px rgb(2, 54, 121);
                            font-weight: 600;
                        }
                    }
                    >a:nth-of-type(1){
                        @include font;
                        font-size: 12px;
                        color: white;
                        text-decoration: none;
                        height: inherit;
                        display: flex;
                        align-items: center;
                        padding-right: 30px;
                        box-sizing: border-box;                        
                        >span{
                            display: flex;
                            align-items: center;
                            height: inherit;
                            padding-right: 6px;
                            box-sizing: border-box;
                            >img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                    >a:nth-of-type(2){
                        @include font;
                        font-size: 12px;
                        color: white;
                        text-decoration: none;
                        height: inherit;
                        display: flex;
                        align-items: center;    
                        >span{
                            display: flex;
                            align-items: center;
                            height: inherit;
                            padding-right: 6px;
                            box-sizing: border-box;
                            >img{
                                width: 16px;
                                height: 12px;
                            }
                        }                    
                    }
                }
                >nav:nth-of-type(1){
                    display: flex;
                    width: 65%;
                    height: inherit;
                    >ul{
                        display: flex;
                        width: 100%;
                        height: inherit;
                        justify-content: center;
                        align-items: center;
                        padding-left: 160px;
                        box-sizing: border-box;
                        >li{
                            list-style: none;
                            display: flex;
                            align-items: center;
                            height: inherit;
                            width: auto;
                            @include transitionshort;
                            &:hover{
                                background-color: white;
                                color: #00a2e8;
                            }
                            &:hover>a{
                                color: #00a2e8;
                                font-weight: 900;
                            }
                            >a{
                                text-decoration: none;
                                color: white;
                                display: block;
                                padding: 10px 12px;
                                box-sizing: border-box;
                                @include font;
                                font-size: 14px;
                                @include transitionshort;
                            }
                        }
                    }
                }
            }
            >section:nth-of-type(2){
                width: 100%;
                height:72px;
                background-color: white;
                display: flex;
                flex-flow: row wrap;
                // border-bottom: 2px solid black;
                >section:nth-of-type(1){
                    width:20%;
                    height: inherit;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    // background-color: #00a2e8;
                    >h1{
                        @include font;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 30px;
                        &::first-letter{
                            color: #00a2e8;
                        }
                    }
                }
                // make menu
                >nav:nth-of-type(1){
                    width: 50%;
                    height: inherit;
                    display: flex;
                    padding-right: 50px;
                    box-sizing: border-box;
                    >ul{
                        width: 100%;
                        height: inherit;
                        display: flex;
                        justify-content: end;
                        >li{
                            list-style: none;
                            height: inherit;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            >a{
                                display: block;
                                padding: 10px 9px;
                                text-decoration: none;
                                @include font;
                                font-size: 14px;
                                color: black;
                                font-weight: 600;
                                @include transitionshort;
                                &:hover{
                                    color: #00a2e8;
                                }
                            }
                        }
                    }
                }
                // end make menu
                >form:last-child{
                    width: 30%;
                    height: inherit;
                    >section:nth-of-type(1){
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // background: #00a2e8;
                        >span{
                            font-size: 25px;
                            padding-right: 10px;
                            box-sizing: border-box;
                        }
                        >input[type=search]{
                            border:2px solid #00a2e8;
                            border-radius: 30px;
                            outline: none;
                            width: 50%;
                            padding: 10px;
                            box-sizing: border-box;
                            @include transitionlong;
                            &:focus{
                                width: 60%;
                                background-color: #00a2e8;
                                color: white;
                                &::placeholder{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        // END MAKE HEADER
        // MAKE BODY
        >section:nth-of-type(1){
            width: 100%;
            height: 640px;
            // position: relative;
            body {
                background: #eee;
                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                font-size: 14px;
                color: #000;
                margin: 0;
                padding: 0;
              }
              .swiper {
                width: 100%;
                height: 100%;
                // position: relative;
              }
        
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                position: relative !important;
        
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                position: relative;
              }
              .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .swiper-slide{
                >section{
                    position: absolute;
                    width: inherit;
                    height: inherit;
                    background-color: rgba(0, 0, 0, 0.614);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    >section{
                        width: 75%;
                        // display: flex;
                        // flex-flow: column wrap;
                        // justify-content: center;
                        >h1{
                            font-size: 55px;
                            @include font;
                            color: #fff;
                            >span{
                                color: #00a2e8;
                            }
                        }
                        >h1:nth-of-type(1){
                            padding-bottom: 30px;
                            box-sizing: border-box;
                        }
                        >p{
                            font-size: 20px;
                            @include font;
                            color: #fff;
                            width: 100%;
                            padding: 20px 25px 0px 25px;
                            box-sizing: border-box;
                            line-height: 40px;
                        }
                    }
                }
              }
        }
        // END MAKE BODY
        // make about
        >section:nth-of-type(2){
            width: 100%;
            height:430px;
            background-color:white;
            >section:nth-of-type(1){
                width: 100%;
                >h1{
                    @include font;
                    color: black;
                    font-size: 36px;
                    font-weight: lighter;
                    width: 100%;
                    text-align: center;
                    padding-top: 60px;
                    box-sizing: border-box;
                    >span{
                        color: #00a2e8;
                    }
                }
            }
            >section:nth-of-type(2){
                width: 100%;
                display: grid;
                grid-template-areas: 
                "section section section section";
                // justify-content: center;
                padding: 65px 70px;
                justify-content: last baseline;
                box-sizing: border-box;
                >section{
                    width: 100%;
                    text-align: center;
                    padding: 0px 7px;
                    box-sizing: border-box;
                    >h1:nth-of-type(1){
                        @include font;
                        color: rgba(0, 0, 0, 0.69);
                        font-weight: 900;
                        padding-top: 30px ;
                    }
                    >p:nth-of-type(1){
                        @include font;
                        color: rgba(0, 0, 0, 0.69);
                        font-weight: 900;
                        text-align: center;
                        font-size: 13px;
                        padding-top: 21px ;
                        box-sizing: border-box;
                    }
                }
            }
        }
        // end make about
        // make collection
        >section:nth-of-type(3){
            width: 100%;
            height: 700px;
            background: url("../images/new-colection/bg.png") no-repeat center center scroll;
            background-size: cover;
            // position: relative;
            >section:nth-of-type(1){
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.703);
                // make detail of collection
                >section:nth-of-type(1){
                    width: 100%;
                    padding-top: 50px;
                    box-sizing: border-box;
                    >h1{
                        @include font;
                        font-size: 48px;
                        color: #fff;
                        text-align: center;
                        text-shadow: 4px 4px 6px black;
                        >span{
                            color: #00a2e8;
                        }
                    }
                }
                // end make detail of collection
                // make new collection
                >section:nth-of-type(2){
                    width: 100%;
                    height:585px;
                    display: flex;
                    padding-top: 90px;
                    box-sizing: border-box;
                    justify-content: center;
                    >section{
                        text-align: center;
                        width: 21%;
                        height: 360px;
                        background-color: #fff;
                        margin: 0px 10px;
                        // top of grid
                        >section:nth-of-type(1){
                            width: 100%;
                            height: 322px;
                            background-color: #00a2e8;
                            box-sizing: border-box;
                            position: relative;
                            overflow: hidden;
                            &:hover>section.absolute{
                                opacity: 1;
                            }
                            // make collection hover
                            >section.absolute{
                                width: 96%;
                                height: 96%;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                background-color: #7a716d;
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                opacity: 0;
                                @include transitionshort;
                                >section{
                                    width: 90%;
                                    height: 40%;
                                    text-align: center;
                                    // display: flex;
                                    // justify-content: center;
                                    // flex-flow: column wrap;
                                    background:transparent;
                                    >section.icon{
                                        // padding: 10px 15px 0px 15px;
                                        box-sizing: border-box;
                                        // display: block;
                                        >span{
                                            display: inline-block;
                                            width: 50px;
                                            height: 50px;
                                            line-height: 50px;
                                            font-size: 30px;
                                            color: #fff;
                                            border: 2px solid #fff;
                                            // padding: 5px;
                                            box-sizing: border-box;
                                            @include transitionlong;
                                            &:hover{
                                                background-color: #00a2e8;
                                                border: none;
                                            }
                                        }
                                    }
                                    >section.shopping{
                                        width: 85%;
                                        display: inline-block;
                                        border: 2px solid lightgray;
                                        background-color:transparent;
                                        margin-top: 10px;
                                        // text-align: center;
                                        @include transitionlong;
                                        &:hover{
                                            background-color: #35312e;
                                        }
                                        >span{
                                            width: 50%;
                                            @include font;
                                            color: white;
                                            text-transform: uppercase;
                                            >span{
                                                font-size: 24px;
                                                color: lightgray;
                                            }
                                        }
                                    }
                                }
                            }
                            // end make collection hover
                            &:hover~section>section:nth-of-type(1){
                                background-color: #00a2e8;
                            }
                            &:hover~section>section:nth-of-type(2){
                                background-color: #86c3dd;
                            }
                        }
                        // top of grid
                        // bootom of grid
                        >section:nth-of-type(2){
                            width: 100%;
                            height:40px;
                            display: flex;
                            align-items: center;
                            background-color: aqua;
                            >section:nth-of-type(1){
                                width: 80%;
                                height: inherit;
                                background-color: #35312e;
                                display: flex;
                                align-items: center;
                                padding-left: 10px;
                                box-sizing: border-box;
                                @include transitionlong;
                                >span{
                                    font-size: 18px;
                                    @include font;
                                    color: #fff;
                                }
                            }
                            >section:nth-of-type(2){
                                width: 20%;
                                height: inherit;
                                background-color: #948a85;
                                display:flex ;
                                justify-content: center;
                                align-items: center;
                                @include transitionlong;
                                >span{
                                    font-size: 18px;
                                    @include font;
                                    color: white;
                                }
                            }
                        }
                        // bottom of grid
                    }
                }
                // end make new collection
            }
        }
        // end make collection
        // make product
        >section:nth-of-type(4){
            width: 100%;
            background-color:#378cc4;
            // justify-content: center;
            padding: 50px 0px;
            box-sizing: border-box;
            >h1{
                @include font;
                font-size: 50px;
                color: white;
                text-align: center;
                text-shadow: 3px 3px 5px black
            }
            >h2{
                @include font;
                font-size: 36px;
                font-weight: lighter;
                color: white;
                text-align: center;
                margin-top: 20px;
            }
        }
        >section:nth-of-type(5){
            width: 100%;
            height:850px;
            background: url("../images/our-product/bg.png") no-repeat center center scroll;
            background-size: cover;
            // position: relative;
            >section:nth-of-type(1){
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.813);
                // make detail of collection
                >section:nth-of-type(1){
                    width: 100%;
                    padding-top: 50px;
                    box-sizing: border-box;
                    >h1{
                        @include font;
                        font-size: 48px;
                        color: #fff;
                        text-align: center;
                        text-shadow: 4px 4px 6px black;
                        >span{
                            color: #00a2e8;
                        }
                    }
                }
                // end make detail of collection
                // make new collection
                >section:nth-of-type(2){
                    width: 100%;
                    height:585px;
                    display: flex;
                    padding-top: 90px;
                    box-sizing: border-box;
                    justify-content: center;
                    >section{
                        text-align: center;
                        width: 26%;
                        height: 420px;
                        background-color: #fff;
                        margin: 0px 10px;
                        // top of grid
                        >section:nth-of-type(1){
                            width: 100%;
                            height: 410px;
                            background-color: #00a2e8;
                            box-sizing: border-box;
                            position: relative;
                            overflow: hidden;
                            &:hover>section.absolute{
                                opacity: 1;
                            }
                            // make collection hover
                            >section.absolute{
                                width: 96%;
                                height: 96%;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                background-color: #7a716d;
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                opacity: 0;
                                @include transitionshort;
                                >section{
                                    width: 90%;
                                    height: 40%;
                                    text-align: center;
                                    // display: flex;
                                    // justify-content: center;
                                    // flex-flow: column wrap;
                                    background:transparent;
                                    >section.icon{
                                        padding: 10px 15px 0px 15px;
                                        box-sizing: border-box;
                                        // display: block;
                                        >span{
                                            display: inline-block;
                                            width: 60px;
                                            height: 60px;
                                            line-height: 60px;
                                            font-size: 45px;
                                            color: #fff;
                                            border: 2px solid #fff;
                                            // padding: 5px;
                                            box-sizing: border-box;
                                            @include transitionlong;
                                            &:hover{
                                                background-color: #00a2e8;
                                                border: none;
                                            }
                                        }
                                    }
                                    >section.shopping{
                                        width: 80%;
                                        display: inline-block;
                                        border: 2px solid lightgray;
                                        background-color:transparent;
                                        margin-top: 10px;
                                        // text-align: center;
                                        @include transitionlong;
                                        &:hover{
                                            background-color: #35312e;
                                        }
                                        >span{
                                            width: 90%;
                                            @include font;
                                            color: white;
                                            font-size: 16px;
                                            // padding-bottom: 50px;
                                            // box-sizing: border-box;
                                            text-transform: uppercase;
                                            >span{
                                                font-size: 30px;
                                                color: lightgray;
                                                // padding-right: 10px;
                                                box-sizing: border-box;
                                            }
                                        }
                                    }
                                }
                            }
                            // end make collection hover
                            &:hover~section>section:nth-of-type(1){
                                background-color: #00a2e8;
                            }
                            &:hover~section>section:nth-of-type(2){
                                background-color: #86c3dd;
                            }
                        }
                        // top of grid
                        // bootom of grid
                        >section:nth-of-type(2){
                            width: 100%;
                            height:40px;
                            display: flex;
                            align-items: center;
                            background-color: aqua;
                            >section:nth-of-type(1){
                                width: 80%;
                                height: inherit;
                                background-color: #35312e;
                                display: flex;
                                align-items: center;
                                padding-left: 10px;
                                box-sizing: border-box;
                                @include transitionlong;
                                >span{
                                    font-size: 18px;
                                    @include font;
                                    color: #fff;
                                }
                            }
                            >section:nth-of-type(2){
                                width: 20%;
                                height: inherit;
                                background-color: #948a85;
                                display:flex ;
                                justify-content: center;
                                align-items: center;
                                @include transitionlong;
                                >span{
                                    font-size: 18px;
                                    @include font;
                                    color: white;
                                }
                            }
                        }
                        // bottom of grid
                    }
                }
                // end make new collection
            }
        }
        // end make product
        // make costomers
        >section:nth-of-type(6){
                    width: 100%;
                    height: 750px;
                    background-color: white;
                    >section:nth-of-type(1){
                        width: inherit;
                        >h1:nth-of-type(1){
                            padding-top: 40px;
                            box-sizing: border-box;
                            width: 100%;
                            text-align: center;
                            @include font;
                            font-size: 44px;
                            text-transform: uppercase;
                            opacity: 0.7;
                            font-weight: 900;
                            >span:nth-of-type(1){
                                color: #378cc4;
                                opacity: 1;
                            }
                        }
                    }
                    >section:nth-of-type(2){
                        width: 100%;
                        display: grid;
                        justify-content:center ;
                        grid-template-areas: "section section section";
                        grid-template-columns: 270px 270px 270px;
                        padding: 0px 0px;
                        padding-top: 30px;
                        padding-left: 50px;
                        box-sizing: border-box;
                        grid-column-gap: 20px;
                        >section{
                            width: 200px;
                            padding:10px 0px ;
                            box-sizing: border-box;
                            // background-color: #00a2e8;
                            // display: flex;
                            // flex-flow: column wrap;
                            // justify-content: center;
                            // align-items: center;
                            // make circle
                            >section:nth-of-type(1){
                                width: 150px;
                                height: 150px;
                                border-radius: 50%;
                                background: #736b66;
                                margin-left:calc(50% - 150px /2) ;
                                // text-align: center;
                            }
                            // end make circle
                            // make text
                            >article:nth-of-type(1){
                                width: 100%;
                                >p:nth-of-type(1){
                                    font-size: 15px;
                                    @include font;
                                    text-align: center;
                                    padding-top: 20px;
                                    box-sizing: border-box;
                                    text-align: center;
                                }
                            }
                            // end make text
                            // make name
                            >section:nth-of-type(2){
                                width: 100%;
                                padding-top: 20px;
                                box-sizing: border-box;
                                >p:nth-of-type(1){
                                    width: 100%;
                                    text-align: center;
                                    color: #378cc4;
                                    @include font;
                                    font-size: 18px;
                                    font-weight: 900;
                                }
                                >p:nth-of-type(2){
                                    width: 100%;
                                    text-align: center;
                                    @include font;
                                    font-size: 14px;
                                    font-weight: 900;
                                }
                            }
                            // end make name
                            // make radio
                            >section:nth-of-type(3){
                                width: 100%;
                                display:grid;
                                justify-content: center;
                                grid-column-gap: 10px;
                                grid-template-areas: "section section section section section";
                                padding-top: 30px;
                                box-sizing: border-box;
                                >section{
                                    width: 22px;
                                    height: 22px;
                                    border-radius: 50%;
                                    border: 3px solid black;
                                    background-color: #378cc4;
                                }
                                >section:nth-of-type(5){
                                    background-color: #fff;
                                    @include transitionshort;
                                    &:hover{
                                        background-color: #378cc4;
                                    }
                                }
                            }
                            // end make radio
                        }
                    }
        }
        // end make costomers
        // make form
        >section.form{
                    // make paralax
                    width: 100%;
                    height: 600px;
                    background-color: #378cc4;
                    position: relative;
                    &::after{
                        content:"";
                        width: 100%;
                        height: 100%;
                        background:url("../images/form/asli.png") no-repeat center center scroll;
                        background-size: cover;
                        position:absolute;
                        z-index: 88889;
                    }
                    // end make paralx
                    // make headline
                    >section:nth-of-type(1){
                        width: 100%;
                        position: absolute;
                        >h1:nth-of-type(1){
                            width: 100%;
                            text-align: center;
                            color: #56504d;
                            font-size: 48px;
                            @include font;
                            font-weight: 900;
                            padding-top: 40px;
                            box-sizing: border-box;
                            word-spacing: 20px;
                            text-shadow: 1px 1px 2px black;
                            >span:nth-of-type(1){
                                color: white;
                            }
                        }
                    }
                    // end make headline
                    >form:nth-of-type(1){
                        // margin-top: 20px;
                        position: absolute;
                        display: flex;
                        flex-flow: column wrap;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: flex-start;
                        padding-top: 40px;
                        box-sizing: border-box;
                        z-index: 99999;
                        >input[type=email]{
                            display: block;
                            width: 50%;
                            margin-left: calc(50% - 50% / 2);
                            padding: 20px;
                            box-sizing: border-box;
                            border-radius: 10px;
                            border: none;
                            outline: none;
                            font-size: 16px;
                            &:invalid{
                                border: 2px solid red;
                                background-color:rgba(255, 0, 0, 0.186);
                            }
                            &:valid{
                                border: 1px solid green;
                            }
                        }
                        >input[type=text]{
                            display: block;
                            width: 50%;
                            margin-left: calc(50% - 50% / 2);
                            padding: 20px;
                            box-sizing: border-box;
                            border-radius: 10px;
                            border: none;
                            outline: none;
                            margin-top: 30px;
                            font-size: 16px;
                            &:invalid{
                                border: 2px solid red;
                            }
                        }
                        >button{
                            width: 50%;
                            display: block;
                            margin-left: calc(50% - 50% / 2);
                            font-size: 30px;
                            @include font;
                            font-weight: 900;
                            color: white;
                            background-color: #786960;
                            padding: 16px 0px;
                            box-sizing: border-box;
                            border: none;
                            border-radius: 10px;
                            margin-top: 40px;
                            @include transitionshort;
                            &:hover{
                                box-shadow: 6px 6px 12px black;
                                background-color: #fff;
                                border: 2px solid black;
                                color: #000;
                                font-weight: 900;
                                width: 52%;
                                margin-left:calc(50% - 52% /2);
                                font-size: 34px;
                            }
                        }
                    }
        }
        // end make form
        // make footer
        >footer.footer{
            width: 100%;
            height: 700px;
            // background-color: #00a2e8;
            // make detail
            >section:nth-of-type(1){
                width: 100%;
                height: 280px;
                background-color: #000;
                padding-top: 80px;
                box-sizing: border-box;
                >h1:nth-of-type(1){
                    text-align: center;
                    @include font;
                    color: white;
                    font-size: 60px;
                    font-weight: bolder;
                }
                >h2:nth-of-type(1){
                    text-align: center;
                    @include font;
                    color: white;
                    font-size: 30px;
                    font-weight: bolder;
                }
            }
            // end make detail
            // make form
            >section:nth-of-type(2){
                width: 100%;
                height: 540px;
                position: relative;
                z-index: 79998;
                display: flex;
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 80000;
                    background-color: rgba(0, 0, 0, 0.829);
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 80%;
                    height: 100%;
                    left: calc(50% - 80% / 2);
                    background: url("../images/footer/bg-world.png") no-repeat center center scroll;
                    background-size: contain;
                    z-index: 80001;
                }
                >section:nth-of-type(1){
                    width: 80%;
                    height:100%;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: left;
                    align-items: center;
                    position: relative;
                    z-index: 80010;
                    padding-top: 90px;
                    box-sizing: border-box;
                    >span:nth-of-type(1){
                        display: block;
                        align-self: flex-start;
                        @include font;
                        color: black;
                        font-size: 70px;
                        font-weight: bolder;
                        padding-left: 100px;
                        padding-bottom: 30px;
                        box-sizing: border-box;
                        // text-align: left;
                        &::first-letter{
                            color: #378cc4;
                        }
                    }
                    >article:nth-of-type(1){
                        width: 100%;
                        // text-align: center;
                        padding-left: 100px;
                        box-sizing: border-box;
                        >h1:nth-of-type(1){
                            font-size: 22px;
                            color: white;
                            @include font;
                        }
                        >h2:nth-of-type(1){
                            padding-top: 30px;
                            box-sizing: border-box;
                            width: 42%;
                            font-size: 14px;
                            color: white;
                            @include font;
                            line-height: 30px;
                        }
                    }
                    >section:nth-of-type(1){
                        display: flex;
                        width:90%;
                        justify-content: start;
                        padding-top: 30px;
                        padding-left: 60px;
                        box-sizing: border-box;
                        >div{
                            padding: 10px;
                            // background-color: #00a2e8;
                            margin-right: 3px;
                            color: white;
                            font-weight: bolder;
                            &:hover{
                                border: 2px solid #00a2e8;
                            }
                        }
                    }
                }
                >form:nth-of-type(1){
                    width:50%;
                    height: 100%;
                    // background-color:cadetblue ;
                    position: relative;
                    z-index: 80010;
                    padding-top: 150px;
                    box-sizing: border-box;
                    position: relative;
                    >input[type=text]{
                        display: inline-block;
                        background-color: white;
                        width: 40%;
                        padding: 15px 10px;
                        box-sizing: border-box;
                        outline: none;
                        @include transitionlong;
                        &::placeholder{
                            text-transform: uppercase;
                        }
                        &:focus{
                            border-radius: 20px;
                        }                
                    }
                    >input[type=email]{
                        background-color: white;
                        width: 40%;
                        padding: 15px 10px;
                        box-sizing: border-box;
                        margin-left: 15px;
                        outline: none;
                        @include transitionlong;
                        &::placeholder{
                            text-transform: uppercase;
                        }
                        &:focus{
                            border-radius: 20px;
                        }
                    }
                    >textarea{
                    margin-top: 15px;
                    display: block;
                    width: 84.5%;
                    background-color: white;
                    padding: 15px 10px;
                    box-sizing: border-box;    
                    outline: none;
                    @include transitionlong;
                    resize: none;
                    &::placeholder{
                        text-transform: uppercase;
                    }
                    &:focus{
                        border-radius: 20px;
                    }
                    }
                    >button{
                        width: 68%;
                        background-color: #378cc4;
                        border: none;
                        padding: 10px 0px;
                        box-sizing: border-box;
                        color: white;
                        @include font;
                        position: absolute;
                        margin-top: 10px;
                        right: 23.8%;
                        @include transitionlong;
                        &:hover{
                            background-color: #00a2e8;
                            box-shadow: 4px 4px 6px black;
                            font-weight: bolder;
                            font-size: 24px;
                        }
                    }
                }
            }
            // end make form
            // make name of designer
            >section:nth-of-type(3){
                width: 100%;
                background-color: #000;
                >h1:nth-child(1){
                    width: 100%;
                    padding: 10px 0px;
                    box-sizing: border-box;
                    color: white;
                    font-size: 18px;
                    @include font;
                    background-color: #000;
                    text-align: center;
                }
            }
            // end make name of designer
        }
        // end make footer
    }
}